_site

# ignore R things
.Renviron
.Rhistory
.Rproj.user
*.Rproj

# ignore docx
*.docx
data/*.docx
pages/*.docx
#reports/*.docx
resources/*.docx
scripts/*.docx
slides/*.docx

# ignore my notebooks
*/notebook*

# ignore html
*.html
# data/*.html
# pages/*.html
# reports/*.docx
# resources/*.html
# scripts/*.html
slides/*.html

# ignore pages/Rmd
# pages/*.Rmd

