_site

# ignore R things
.Renviron
.Rhistory
.Rproj.user
*.Rproj

# ignore docx except those in assets/downloads
*.docx
data/*.docx
pages/*.docx
reports/*.docx
scripts/*.docx

# ignore my notebooks
*/notebook*

# ignore html except those needed to format web pages
index.html
data/*.html
pages/*.html
reports/*.html
scripts/*.html

# ignore pages/Rmd
pages/*.Rmd

